minecraft/.ReAuth.cfg
minecraft/backups
minecraft/coremods
minecraft/crafttweaker.log
minecraft/crash-reports
minecraft/journeymap
minecraft/local
minecraft/logs
minecraft/options.txt
minecraft/resourcepacks
minecraft/saves
minecraft/schematics
minecraft/screenshots
minecraft/server-resource-packs
minecraft/snapshots-server
minecraft/texturepacks
minecraft/usercache.json
minecraft/usernamecache.json
minecraft/optionsof.txt
minecraft/optionsshaders.txt
minecraft/mods
minecraft/shaderpacks
minecraft/servers.dat
